/*mise en forme du footer 1*/

.footer1 {
    height: 550px;
    background-color: var(--noir);
}

.fh1 {
    display: flex;
    justify-content: space-around;
}

.f3 {
    display: flex;
    align-self: end;
    justify-content: space-around;
    margin-top: 5%;
}

.f1 {
    display: flex;
    flex-direction: column;
}

.f2 {
    display: flex;
    flex-direction: column;
}

.fp {
    color: var(--gris)
}

.ff > label, .ff>input, .ff > textarea{
    display: block;
    background-color: var(--gris);
    color: var(--blanc);
    border: none;
    border-radius: 5px;
    margin: 5% 0%;
}

.ff > button {
    display: block;
    background-color: var(--orange);
    padding: 2% 15%;
    border-radius: 8px;
}

.flinkitem {
    padding: 15% 0%;
}

.flink {
    color: var(--blanc);
}

.fb1  {
    display: flex;
    justify-content: space-between;
}

.flist {
    display: flex;
    justify-content: space-between;
}

.fb2 {
    display: flex;
    justify-content: space-between;
}

.fb2 >img {
    margin-right: 10px;
}


.ficon {
    margin: 0 10px;
}

/*mise en forme du footer 2*/