/*mise en forme du footer 1*/

.footer1 {
    height: auto;
    background-color: var(--noir);
}

.fh1 {
    display: flex;
    justify-content: space-around;
}

.f3 {
    display: flex;
    align-self: end;
    justify-content: space-around;
    margin-top: 5%;
}

.f1 {
    display: flex;
    flex-direction: column;
}

.f2 {
    display: flex;
    flex-direction: column;
}

.fp {
    color: var(--gris)
}

.ff > label, .ff>input, .ff > textarea{
    display: block;
    font-family: var(--font-Baloo);
    background-color: var(--gris);
    color: var(--blanc);
    border: none;
    border-radius: 5px;
    margin: 5% 0%;
}

.ff > button {
    display: block;
    font-family: var(--font-Baloo);
    background-color: var(--orange);
    padding: 2% 15%;
    border-radius: 8px;
}

.f2h {
    text-align: right;
}

.flinkitem {
    font-family: var(--font-Baloo);
    padding: 15% 0%;
    text-align: right;
}

.flink {
    color: var(--blanc);
}

.fb1  {
    display: flex;
    justify-content: space-between;
}

.flist {
    display: flex;
    justify-content: space-between;
}

.fb2 {
    display: flex;
    justify-content: space-between;
}

.fb2 >img {
    margin-right: 10px;
}


.ficon {
    margin: 0 10px;
}

.fp {
    font-size: var(--micro);
}

.title_footer {
    color: var(--blanc);
    font-family: var(--font-Praise);
    font-size: var(--titre-2);
}

/*mise en forme du footer 2*/

.footer2 {
    margin-top: 50px;
    margin-bottom: 50px;
}

.f2nav {
    width: 300px;
}

.foot2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.f2list {
    display: flex;
    justify-content: space-between;
    
}

.f2link {
    color: var(--gris);
}

