/*mise en forme du header 1*/

.header1 {
    height: 98px;
    background-color: var(--rouge);
    display: flex;
    justify-content: space-between;
    padding: 0% 1%;
}


.header_logo1 {
    display: flex;
    justify-content: center;
    align-items: center;

}

.header_txt1 {
    color: var(--blanc);
    font-family: var(--font-Praise);
    font-size: var(--titre);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    margin-top: 12%;
}

.head_a1 {
    display: flex;
    justify-content: space-between;
}

.head_a {
    font-family: var(--font-Baloo);
    font-size: var(--bouton);
}

.hd1 {
    display: flex;
    justify-content: space-between;
}

.hd2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ha1 {
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none ;
    color: var(--blanc);
    flex: 2 1 auto;
}

.ha2 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none ;
    color: var(--rouge);
    font-weight: bolder;
    background-color: var(--blanc);
    background-size: auto ;
    border-radius: 18px;
    padding: 3%;
}


/*mise en forme du header 2*/

.aheader2 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.head2_titre {
    font-family: var(--font-Praise);
    font-size: var(--titre);
    color: var(--pourpre);
    margin-left: 10px;
}