/*mise en forme du header 1*/

.header1 {
    height: 98px;
    background-color: var(--rouge);
    display: flex;
    justify-content: space-between;
    padding: 0% 1%;
}


.header_logo1 {
    display: flex;
    justify-content: center;
    align-items: center;

}

.header_txt1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}

.head_a {
    font-family: var(--font-Baloo);
    font-size: var(--bouton);
}

.hd1 {
    display: flex;
    justify-content: space-between;
}

.hd2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ha1 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none ;
    color: var(--blanc);
}

.ha2 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none ;
    color: var(--rouge);
    font-weight: bolder;
    background-color: var(--blanc);
    background-size: auto ;
    border-radius: 18px;
    padding: 3%;
}


/*mise en forme du header 2*/