/*mise en forme en général de la page d'accueil*/
.fond {
    background-image: url("../../../public/img/ligne_plume.svg");
    background-repeat: no-repeat;
    background-position: 100px 20px;
}

.id1 {
    grid-column: 1/1;
}

.id2 {
    grid-column: 2/2;
}
.mail > input {
    font-family: var(--font-Baloo);
    color: var(--gris-clair);
    border: solid 1px var(--gris-clair);
    border-radius: 5px;
    padding: 1%;
    margin-left: 5%;
}

.mail > ::placeholder {
    font-family: var(--font-Baloo);
    font-size: var(--micro-bouton);
}

.mail > button {
    background-color: var(--orange);
    border-radius: 6px;
    padding: 0.6% 4%;
    margin-left: 2%;
}

.mail_a {
    font-family: var(--font-Baloo);
    font-size: var(--bouton);
    font-weight: 500;
    color: var(--blanc);
}

.fip {
    justify-self: center;
    align-self: center;
}

/*mise en forme section 1*/
.ig {
    color: var(--gris3);
    font-size: var(--intro);
}

/*mise en forme de la section 2*/
.p_mock {
    font-size: var(--h2);
}

/*mise en forme de la section 3*/
.sect_rouge {
    background-color: var(--rouge);
    background-image: url("../../../public/img/logo_plume_fond.svg");
    background-repeat: no-repeat;
    background-position: 99px 0px;
    display: flex;
    flex-flow: column;
    align-content: space-between;
    padding-bottom: 5%;
    padding: 3% 8%;
}

.s1rouge {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--blanc);
}

.s2rouge {
    display: flex;
    justify-content: center;
    align-items: end;
}

.sri1 {
    margin-right: 2%;
}

.sri2 {
    margin-left: 2%;
}