.ml>h2 {
    padding-left: 6%;
}

.ml>p {
    padding-left: 8%;
}

.ml> address{
    font-family: var(--font-Baloo);
    font-size: var(--paragraphe);
    font-weight: 500;
    padding-left: 8%;
}

.mla {
    color: var(--pourpre);
}

.ml {
    margin-bottom: 5%;
}