.fond_p {
    background-image: url("../../../public/img/plume2.svg");
    background-repeat: no-repeat;
    background-position: 50px 50px;
}

.p1 {
    grid-row: 1/1;
}

.p2 {
    grid-row: 2/2;
    padding-left: 8%;
    padding-right: 30%;
}

.ptt {
    display: flex;
    padding-left: 25px;
}
.ptt > h3 {
    padding-left: 15px;
}