/*mise en forme des card droite et gauche de l'index*/

.card1 {
    background-color: var(--rouge);
    color: var(--blanc);
    box-shadow: 5px 5px 7px 7px var(--gris-clair);
    border-radius: 15px;
    margin: 0% 20%;
    padding: 0% 2%;

}

.card2 {
    background-color: var(--blanc);
    box-shadow: -5px 5px 7px 7px var(--gris-clair);
    border-radius: 15px;
    margin-left: 5%;
    padding: 0% 2%;
}

/*mise en place de la card de fin de l'index (section 6)*/

.cardfin {
    background-image: url("../../../public/img/logo_plume_fond.svg"), linear-gradient(rgba(251, 169, 25, 1), rgba(255, 0, 0, 1));
    background-repeat: no-repeat;
    background-position: right;
    border-radius: 10px;
    margin: 3% 10%;
    padding-top: 0.1%;
    padding-bottom: 3%;
}

.cf1 {
    display: flex;
    justify-content: flex-start;
    color: var(--blanc);
    margin-left: 10%;
}

.cf2 {
    display: flex;
    justify-content: center;
    align-items: center;
}


.ttfc > input {
    font-family: var(--font-Baloo);
    background-color: var(--blanc);
    border: none;
    color: var(--gris);
    border-radius: 6px;
    padding: 0.5%;
}

.ttfc > ::placeholder {
    color: var(--gris);
    font-family: var(--font-Baloo);
    font-size: var(--h3);
}

.mail_a2 {
    font-family: var(--font-Baloo);
    background-color: var(--noir);
    font-size: var(--bouton);
    font-weight: 500;
    color: var(--blanc);
    padding: 0.1% 4%;
    margin-left: 2%;
    margin-left: 1%;
    border-radius: 6px;
}